@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.2064 0.0388 265.5472);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2064 0.0388 265.5472);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2064 0.0388 265.5472);
  --primary: oklch(0.6261 0.1859 259.5957);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2083 0.0394 265.5325);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2083 0.0394 265.5325);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.546 0.2153 262.8719);
  --chart-1: oklch(0.6772 0.1571 35.1898);
  --chart-2: oklch(0.6309 0.1013 183.4907);
  --chart-3: oklch(0.3787 0.044 225.5393);
  --chart-4: oklch(0.8336 0.1186 88.1463);
  --chart-5: oklch(0.7834 0.1261 58.7491);
  --sidebar: oklch(0.2064 0.0388 265.5472);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.6261 0.1859 259.5957);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2753 0.0364 259.6978);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.2753 0.0364 259.6978);
  --sidebar-ring: oklch(0.546 0.2153 262.8719);
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -3px;
  --shadow-opacity: 0.1;
  --shadow-color: 0, 0, 0;
  --shadow-2xs: 0 4px 10px -3px hsl(0, 0, 0 / 0.05);
  --shadow-xs: 0 4px 10px -3px hsl(0, 0, 0 / 0.05);
  --shadow-sm: 0 4px 10px -3px hsl(0, 0, 0 / 0.1), 0 1px 2px -4px hsl(0, 0, 0 / 0.1);
  --shadow: 0 4px 10px -3px hsl(0, 0, 0 / 0.1), 0 1px 2px -4px hsl(0, 0, 0 / 0.1);
  --shadow-md: 0 4px 10px -3px hsl(0, 0, 0 / 0.1), 0 2px 4px -4px hsl(0, 0, 0 / 0.1);
  --shadow-lg: 0 4px 10px -3px hsl(0, 0, 0 / 0.1), 0 4px 6px -4px hsl(0, 0, 0 / 0.1);
  --shadow-xl: 0 4px 10px -3px hsl(0, 0, 0 / 0.1), 0 8px 10px -4px hsl(0, 0, 0 / 0.1);
  --shadow-2xl: 0 4px 10px -3px hsl(0, 0, 0 / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2047 0.0188 266.6515);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2544 0.0268 266.5103);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.2249 0.0221 266.5862);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6261 0.1859 259.5957);
  --primary-foreground: oklch(0.2083 0.0394 265.5325);
  --secondary: oklch(0.2753 0.0364 259.6978);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.2753 0.0364 259.6978);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.3225 0.0452 259.6731);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2753 0.0364 259.6978);
  --input: oklch(0.2753 0.0364 259.6978);
  --ring: oklch(0.4878 0.217 264.3876);
  --chart-1: oklch(0.5449 0.2154 262.7414);
  --chart-2: oklch(0.6983 0.1337 165.4626);
  --chart-3: oklch(0.7232 0.15 60.6307);
  --chart-4: oklch(0.6192 0.2037 312.7283);
  --chart-5: oklch(0.6123 0.2093 6.3856);
  --sidebar: oklch(0.1812 0.0193 268.9521);
  --sidebar-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-primary: oklch(0.6261 0.1859 259.5957);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2544 0.0268 266.5103);
  --sidebar-accent-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-border: oklch(0.2249 0.0221 266.5862);
  --sidebar-ring: oklch(0.6261 0.1859 259.5957);
  --font-sans: "Inter", sans-serif;
  --font-serif: "EB Garamond", serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 10px;
  --shadow-blur: 15px;
  --shadow-spread: -5px;
  --shadow-opacity: 0.5;
  --shadow-color: 0, 0, 0;
  --shadow-2xs: 0 10px 15px -5px hsl(0, 0, 0 / 0.25);
  --shadow-xs: 0 10px 15px -5px hsl(0, 0, 0 / 0.25);
  --shadow-sm: 0 10px 15px -5px hsl(0, 0, 0 / 0.5), 0 1px 2px -6px hsl(0, 0, 0 / 0.5);
  --shadow: 0 10px 15px -5px hsl(0, 0, 0 / 0.5), 0 1px 2px -6px hsl(0, 0, 0 / 0.5);
  --shadow-md: 0 10px 15px -5px hsl(0, 0, 0 / 0.5), 0 2px 4px -6px hsl(0, 0, 0 / 0.5);
  --shadow-lg: 0 10px 15px -5px hsl(0, 0, 0 / 0.5), 0 4px 6px -6px hsl(0, 0, 0 / 0.5);
  --shadow-xl: 0 10px 15px -5px hsl(0, 0, 0 / 0.5), 0 8px 10px -6px hsl(0, 0, 0 / 0.5);
  --shadow-2xl: 0 10px 15px -5px hsl(0, 0, 0 / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
